img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 100px;
}
.dog {
  object-position: -5px;
}
.flower {
  object-position: 90%;
}
.model {
  object-position: 0px 0px;
}
#div {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
h2 {
  text-align: center;
}
.h3 {
  display: inline;
}
.inline {
  width: 150px;
}
#projects {
  display: inline;
}
